html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  line-height: initial;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  color: var(--text-color-primary);
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --text-color-primary: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --primary-color-white: #ffffff;
  --background-color-secondary: #f5f5f5;
  --background-color-third: #f5f4fa;
  --background-color-grey: #2f303a;
  --typical-section-padding: 94px;
  --typical-padding-list: 30px;
  --typical-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--text-color-primary);
  background-color: var(--primary-color-white);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* ----------------Header------------------- */

.header {
  border-bottom: 1px solid #ececec;
  height: 80px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  /* padding: 32px; */
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
}

.header .logo span {
  color: #000000;
}

.header-nav .logo {
  margin-right: 93px;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

/* .nav-item:not(:last-child) {
        margin-right: 50px;
} */

/* .nav-item +.nav-item {
    margin-left: 50px;
} почему от Студии нет отступа?*/

.nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: block;
  color: var(--text-color-primary);
  position: relative;
  transition: color var(--typical-transition);
}

/* .nav-list a {
  color: var(--text-color-primary);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: block;
} */

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
}

.nav-link.current::after,
.nav-link:hover::after,
.nav-link:focus::after {
  background-color: var(--accent-color);
}

/* .header-contacts {
} */

.contacts-list {
  display: flex;
  /* align-items: center; */
  column-gap: 50px;

  /* .contacts-item:not(:last-child) {
        margin-right: 50px;
    } */
}

.contacts-item {
  /* display: flex; */
  /* align-items: center; */
}

.contacts-link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  column-gap: 10px;
  fill: #757575;
  padding: 20px 0;
  transition: color var(--typical-transition);
}

.contacts-icon {
  transition: fill var(--typical-transition);
}

.nav-list .link:hover,
.nav-list .link:focus,
.footer.link:hover,
.footer.link:focus,
.contacts-link:hover,
.nav-list .link.current {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* -----------------HERO ----------------*/
.hero {
  text-align: center;
  max-width: 1600px;
  padding: 200px 0;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Img_overlay.jpg");
}

.hero-title {
  width: 696px;
  color: var(--primary-color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
}

/* BUTTON */
.button-primary {
  font-family: inherit;
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  margin-top: 30px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--typical-transition);

  /* разобраться почему такое значение? откуда наследует */
}

.hero .button-primary {
  color: var(--primary-color-white);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* Секції Переваги, Чим займаємося, Наша команда */
.section {
  padding-top: var(--typical-section-padding);
  padding-bottom: var(--typical-section-padding);
}

.benefits {
  background-color: var(--primary-color-white);
}

.benefits-list {
  display: flex;
  align-items: top;
  gap: var(--typical-padding-list);
  /* margin-right: 30px; */
  /* padding-top: 94px;
    padding-bottom: 94px; */
}

/* .benefits-item:not(:last-child), 
.work-item:not(:last-child),
.team-item:not(:last-child) {
    margin-right: 30px;
} */

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: var(--text-color-primary);
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color-primary);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.benefits-item {
}

.benefits-icon {
  transition: fill var(--typical-transition);
}

.benefits-icon-wrap {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--background-color-third);
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.work {
  background-color: var(--primary-color-white);
  padding-top: 0;
  /* margin-top: var(--typical-margin-padding); 
    как лучше - 2 паддинга в секции benefits или разделить по спкциям отступы?*/
}

.work-list {
  display: flex;
  align-items: center;
  gap: var(--typical-padding-list);
  flex-wrap: wrap;
}

.work-item {
  width: calc ((100%-2 * 30px)/3);
  position: relative;
}

.work-item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-color-white);
  background-color: rgba(47, 48, 58, 0.8);
}

.work-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding-bottom: 50px;
  /* или margin? */
}

.team {
  background-color: var(--background-color-third);
}

.team-title {
  color: var(--text-color-primary);
}

.team-list {
  display: flex;
  align-items: center;
  gap: var(--typical-padding-list);
  flex-wrap: wrap;
}

.team-item {
  background-color: var(--primary-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 3 * 30px) / 4);
}

.team-subtitle {
  color: var(--text-color-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding: var(--typical-padding-list) 0 10px;
}

.team-text {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding-bottom: 16px;
}

.team-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding-bottom: var(--typical-padding-list);
}

.team-icon-wrap {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #afb1b8;
}

.team-icon-wrap:hover,
.footer-social-link:hover {
  fill: var(--primary-color-white);
  background-color: var(--accent-color);
  transition: background-color var(--typical-transition),
    fill var(--typical-transition);
}

.team-icon {
  transition: color var(--typical-transition);
}

/* .team-icon-wrap:focus 
.clients-icon-wrap:focus */

/* --------- Секція Постійні клієнти --------- */
.clients-title {
}
.clients-list {
  display: flex;
  gap: var(--typical-padding-list);
}
.clients-item {
  display: flex;
  align-items: center;
  flex-basis: center;
}

.clients-icon {
  transition: color var(--typical-transition);
}

.clients-icon-link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  transition: border-color var(--typical-transition),
    fill var(--typical-transition);
}

.clients-icon-link:hover .clients-icon,
.clients-icon-link:focus .clients-icon {
  fill: var(--accent-color);
  transition: fill var(--typical-transition);
}

.clients-icon-link:hover,
.clients-icon-link:focus {
  border-color: var(--accent-color);
}

/* --------------FOOTER--------------- */
.footer {
  color: var(--primary-color-white);
  background-color: var(--background-color-grey);
  text-align: left;
  font-style: normal;
  line-height: 1.71;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-color-grey);
  text-align: left;
  font-style: normal;
  line-height: 1.71;
  transition: color var(--typical-transition);
}

.footer-container {
  display: flex;
  padding: 60px 0;
  align-items: baseline;
}

.footer .logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer span {
  color: var(--primary-color-white);
}
/* почему не наследуется белый цвет из footer для спан? */

.text-address {
  margin-bottom: 9px;
}

.footer-address {
  margin-right: 70px;
  width: 231px;
}

.footer-contacts {
  font-style: normal;
  line-height: 1.71;
  margin-top: 20px;
}

.footer-address-list {
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social-links {
  display: block;
  align-items: center;
  padding-top: 12px;

  /* уточнить как правильно сделать  */
}

.footer-social-list {
  display: flex;
  align-items: center;
  column-gap: 10px;

  /* justify-content: center; */
}

.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--typical-transition);
}

.footer-subscription {
  margin-left: 93px;
}

.footer-subscription-title {
  color: var(--primary-color-white);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-subscription-input-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer-subscription-input {
  display: flex;
  justify-content: center;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  padding-left: 16px;
  background-color: transparent;
  color: var(--primary-color-white);
  transition: border-color var(--typical-transition);
  outline: transparent; /*убирает внутреннюю черную линию в поле ввода */
}
.footer-subscription-input:hover {
  border-color: var(--accent-color);
}

.footer-subscription-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  padding: 10px 28px;
  gap: 10px;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-color-white);
}

.footer-subscription-button-icon {
  width: 24px;
  height: 24px;
  display: block;
  fill: var(--primary-color-white);
}

/* --------------PORTFOLIO------------- */

/* .portfolio {
} */

.button-portfolio {
  color: var(--text-color-primary);
  background-color: var(--background-color-third);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color var(--typical-transition),
    background-color var(--typical-transition),
    box-shadow var(--typical-transition);
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--background-color-secondary);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-buttons {
  margin-bottom: 34px;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 30px;
}

.portfolio-item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 65px 24px;
  color: #fff;
  font-size: 18px;
  line-height: 1.55;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: left;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .portfolio-text-overlay,
.portfolio-link:focus .portfolio-text-overlay {
  transform: translateY(0%);
}

.portfolio-list-wrap {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
  text-align: left;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--typical-transition);
}

.portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* ---------MODAL-------- */

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: #00000033;
  transition: transform var(--typical-transition);
  transition: visibility var(--typical-transition),
    opacity var(--typical-transition);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  margin: auto;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  overflow: auto;
}

.modal-button {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal-button:hover {
  fill: var(--accent-color);
}

.order-form-row {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.order-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color-primary);
  margin-bottom: 12px;
}

.order-form-name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.order-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  /* padding-right: 16px; */
  transition: border-color var(--typical-transition);
  outline: none;
}

/* .order-form-input:hover, */
.order-form-input:focus {
  border-color: var(--accent-color);
}

.order-form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: var(--text-color-primary);
  transition: fill var(--typical-transition);
}

/* .order-form-input:hover + .order-form-icon {
  fill: var(--accent-color);
} */
.order-form-input:focus + .order-form-icon {
  fill: var(--accent-color);
}

.order-form-comment {
  padding: 12px 16px;
  height: 138px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--typical-transition);
  margin-bottom: 20px;
  outline: none;
}

/* .order-form-comment:hover, */
.order-form-comment:focus {
  border-color: var(--accent-color);
}

.order-form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.order-form-policy {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.checkbox-icon-wrap {
  border: 2px solid var(--text-color-primary);
  border-radius: 4px;
  width: 16px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  transition: background-color var(--typical-transition);
}

.checkbox-icon {
  fill: var(--primary-color-white);
}

.checkbox:checked + .checkbox-icon-wrap {
  background-color: var(--accent-color);
  border-color: transparent;
}

.accept-policy-terms {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.order-form-policy {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.terms {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.order-form-button {
  display: flex;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-color-white);
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  align-self: center;
  margin: 0 auto;
}

/* .order-form-button:focus,
.order-form-button:hover,
.order-form-button:active {
  border-color: var(--accent-color);
} */
