/* .projects {
} */

.projects__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 50px;
  justify-content: flex-start;

  @include tablet {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  gap: 30px;
}

.projects__item {
  width: 100%;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 2 * 30px) / 3);
  }
  //   flex-basis: calc((100% - 2 * 30px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item-overlay {
  position: relative;
  overflow: hidden;
}

.projects__text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 65px 24px;

  @include font(null, 18px, 1.55, null);
  text-align: left;

  color: var(--primary-color-white);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__wrap {
  text-align: left;
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: 0;
}

.projects__title {
  @include font(700, 18px, 2, 0.06em);
}

.projects__text {
  @include font(null, 16px, 1.88, null);
  color: var(--text-color);
}

.projects__link {
  display: block;
  transition: box-shadow var(--typical-transition);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .projects__text-overlay,
  &:focus .projects__text-overlay {
    transform: translateY(0%);
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
